{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1> Histsync is "a cloud bash history" app</h1>
    <table class="table">
    <caption>Commands!</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Added</th>
        <th>Command</th>
      </tr>
    </thead>
    <tbody>
      {% for c in commands %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td> {{c.format_time_added()}}</td>
        <td>{{c.text}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
