{% macro command_controls(command, starred, stars_number, is_owner, published) %}
  <button class="btn btn-default btn-xs btn-star-command btn-star-command-{{command.id}}" data-command-id="{{command.id}}" type="button" {% if starred %} style="display:none;" {% endif %}>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star <span class="badge stars-number">{{stars_number}}</span>
  </button>
  <button class="btn btn-default btn-xs btn-unstar-command btn-unstar-command-{{command.id}}" data-command-id="{{command.id}}" type="button" {% if not starred %} style="display:none;" {% endif %}>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Unstar <span class="badge stars-number">{{stars_number}}</span>
  </button>
  {% if is_owner %}
  <button class="btn btn-default btn-xs btn-publish-command btn-publish-command-{{command.id}}" data-command-id="{{command.id}}" data-command-text="{{command.text}}" type="button" {% if published %} style="display:none;" {% endif %}>
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Publish
    </button>
    <button class="btn btn-default btn-xs btn-unpublish-command btn-unpublish-command-{{command.id}}" data-command-id="{{command.id}}" type="button" {% if not published %} style="display:none;" {% endif %}>
      <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Unpublish
    </button>
    <button class="btn btn-default btn-xs btn-delete-command btn-delete-command-{{command.id}}" data-command-id="{{command.id}}" type="button">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
    </button>
  {% endif %}
{% endmacro %} 

{% macro command(command) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <span class="public-title public-title-{{command.id}}" {% if not command.is_public %} style="display:none;" {% endif %}>
          Shared by <a href={{url_for("profile", username=command.user.name)}}>{{command.user.name}}</a>
        </span>
        <span class="private-title private-title-{{command.id}}" {% if command.is_public %} style="display:none;" {% endif %}>
          Private command
        </span>
        {{ command_controls(command,
                            command in current_user.starred_commands, command.starred_by | length,
                            current_user.is_authenticated() and command.user == current_user,
                            command.is_public) }}
      </h5>
    </div>
    <div class="panel-body">
      <p class="command-description-{{command.id}}">
        {% if command.description %}
          {{ command.description }}
        {% endif %}
      </p>
      <pre class="code pre-command-{{command.id}}"> $&nbsp; {{- command.text -}} </pre>
    </div>
    {# <div class="panel-footer">42 Comments</div> #}
  </div>
{% endmacro %}

{% macro command_list(commands) %}
  {% for c in commands %}
    <div id="command-row-{{c.id}}" class="command-row command-row-{{c.id}}">
      {{ command(c) }}
    </div>
  {% endfor %}
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1 %}
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <li  class="disabled"><span>…</span></li>
      {% endif %}
    {%- endfor %}
    </ul>
  {% endif %}
{% endmacro %}
