{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
    <h2>Profile of {{username}}</h2>
    {% if current_user.name == username %}
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" id="show-api-key">Show API Key</button>
          <button class="btn btn-primary" id="hide-api-key" style="display: none;">Hide API Key</button>
          <button class="btn btn-primary" id="regenerate-api-key">Generate new API Key</button>
          <div id="api-key" style="display: none;">
            <p><b>API key: </b><span id="api-key-value">{{current_user.api_key}}</span></p>
            {# <p><b>Command to add to your .bashrc :</b> ~/histsync-client.py  --api_key {{current_user.api_key}} --user {{current_user.name}}  "$1"'</p> #}
          </div>
        </div>
      </div>
    {% endif %}
    {# TODO: enable switching between compact and non-compact version #}
    <div class="row commands-row">
      <div class="col-xs-12">
        {% for c in commands %}
          <div class="command-compact command-compact-{{c.id}}" data-command-id="{{c.id}}">
            <pre class="code compact"> $&nbsp; {{- c.text -}} </pre>
          </div>
          <div class="command-controls command-controls-{{c.id}}" style="display:none;"> {{ macros.command_controls(c) }} </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $( document ).ready(function() {
    $("#show-api-key").click(function() {
      $("#show-api-key").hide();
      $("#hide-api-key").show();
      $("#api-key").show();
    });
    $("#hide-api-key").click(function() {
      $("#show-api-key").show();
      $("#hide-api-key").hide();
      $("#api-key").hide();
    });
    $("#regenerate-api-key").click(function() {
      $.ajax("/_regenerate_api_key").done(function(data){
        $('#api-key-value').html(data.api_key)
      });
    });
    $(".btn-remove-command").click(function() {
      var command_id = $(this).data('command-id');
      var that = this;
      $(that).hide();
      $.post("/_delete_command/" + command_id).done(function(done){
        $("#command-row-" + command_id).remove();
      }).fail(function() {
        $(that).show();
      });
    });
    $(".btn-star-command").click(function() {
      var command_id = $(this).data('command-id');
      var that = this;
      $.post("/_star_command/" + command_id); // TODO: handling success/failure
    });
    $(".command-compact").click(function() {
      var command_id = $(this).data('command-id');
      $(".command-controls-" + command_id).toggle();
    });
  });
</script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}"></style>
{% endblock %}
