{% extends "base.html" %}

{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
    <h2>My Shell History</h2>
    {# TODO: enable switching between compact and non-compact version #}
    <div class="row commands-row">
      <div class="col-xs-12">
        {% for c in commands %}
          <div id="command-row-{{c.id}}">
            <div class="command-compact command-compact-{{c.id}}" data-command-id="{{c.id}}">
              <pre class="code compact"> $&nbsp; {{- c.text -}} </pre>
            </div>
            <div class="command-controls command-controls-{{c.id}}" style="display:none;">
              {{ macros.command_controls(c,
                                         true, 43,
                                         current_user.is_authenticated() and c.user == current_user,
                                         c.is_public) }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
