{% extends "base.html" %}

{% import 'macros.html' as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <h2>{{title}}</h2>
    {% if search_form %}
      {{wtf.quick_form(search_form, form_type='inline')}}
    {% endif %}
    {{ macros.render_pagination(commands) }}
    <div class="row commands-row">
      <div class="col-xs-12">
        {% for c in commands.items %}
        <div id="command-row-{{c.id}}" class="command-row command-row-{{c.id}}">
            <div class="command-compact command-compact-{{c.id}}" data-command-id="{{c.id}}">
              <pre class="code compact pre-command-{{c.id}}"> $ {{ c.text -}} </pre>
            </div>
            <div class="command-controls command-controls-{{c.id}}" style="display:none;">
              {{ macros.command_controls(c,
                                         c in current_user.starred_commands, c.starred_by.count(),
                                         current_user.is_authenticated() and c.user == current_user,
                                         c.is_public) }}
            </div>
          </div>
        {% else %}
        <p> No commands here! </p>
        {% endfor %}
      </div>
    </div>
    {{ macros.render_pagination(commands) }}
</div>
{% endblock %}
